
{% extends "polls/base.html" %}
{% block body_block %}
    <div>
        {{question.question_text}}
        {% if error_message %} <p> <strong> {{error_message}} </strong></p>
        {% endif %}
        
        
        
        <form action="votes/" method="POST">
        {% csrf_token %}
        <ul>
            {% for choice in question_choices %}
            <li>
                <input type="radio" name = "choice" id = "choice{{forloop.counter}}" value="{{choice.id}}">
                <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>{{choice}}
            </li>
            {% endfor %}
            <input type="submit" value="Vote">
        </ul>
    </form>
    
    </div>
{% endblock %}